In [7]:
import streamlit as st
import streamlit_authenticator as stauth
from pathlib import Path
from SQL import datenLadenUser, updateUser
import pandas as pd

names =  ["Martin",  "Norbert", 'MichaelK','Markus', 'MichaelP','Sabrina']
usernames = ["martin", "norbert", "michaelk", "markus", "michaelp", "sabrina"]
password = ["Bruno24-", "schlangenleder","unterfluhrschleppkettenf√∂rdersystem",'Bayern1' ,'naIhrSpacken','SuperDepot2022']
function = ["admin", "user", "user", "user", "user",'user']
rechte = [1,2,3,4,5,1]


hasched_passwords = stauth.Hasher(password).generate()


#add to df
df = pd.DataFrame({'name':names, 'username':usernames, 'password':hasched_passwords, 'function':function, 'rechte':rechte})
updateUser(df)

In [8]:
from SQL import datenLadenUser, updateUser
df = datenLadenUser()
usernames = df['username'].tolist()
names = df['name'].tolist()
passwords = df['password'].tolist()

credentials = {"usernames":{}}
        
for uname,name,pwd in zip(usernames,names,passwords):
    user_dict = {"name": name, "password": pwd}
    credentials["usernames"].update({uname: user_dict})

df

,name,username,password,function,rechte
0,Martin,martin,$2b$12$ZSvSuP5lEfvpwsVPAqHCI.Wviso9vlN.DhGdepi...,admin,1
1,Norbert,norbert,$2b$12$9Xx4dZ4U1gI2UPsg0tLppeUfUb4w8Bbr/dxpWId...,user,2
2,MichaelK,michaelk,$2b$12$9hr7DkhiSDKwRBCsHyL2KOndS8JMqJB003t7cU/...,user,3
3,Markus,markus,$2b$12$z8gonNOIVmQvR5AlEBpunug2C3DJFhV0NJrT7c1...,user,4
4,MichaelP,michaelp,$2b$12$9lvEB.Vtu2nOcGRhlv6VzuE.1YwQJPeKqnuFXwN...,user,5
5,Sabrina,sabrina,$2b$12$XqdDTtGxMqXbg0NlPE4DjOXLJyDhuUtZzYdFwZJ...,user,1