#  <center> <u>Übung:</u> Pandas Renaming & Combining

### 1) (L) Importiere `Pandas` und lade den Datensatz von `uebung/cars.csv` und lass dir den `Kopf` ausgeben

,car_id,marke,modell,preis,kilometer,erstzulassung,kraftstoffart,getriebe,leistung,hubraum,hu,plz,farbe,anzahlderFahrzeughalter,kategorie,anzahlSitzplaetze,anzahlderTueren,schadstoffklasse,umweltplakette,klimatisierung,innenausstattung,ausstattung
0,2f3fc81f-8794-4182-89b6-844ba36cb764,Volkswagen,Golf,9.797 €,79.449 km,04/2011,Benzin,Schaltgetriebe,63 kW (86 PS),1.197 cm³,Neu,4720.0,Weiß,NaN,Limousine,5.0,4/5,Euro5,4 (Grün),Klimaautomatik,"Alcantara, Schwarz","ABS,Alarmanlage,Armlehne,Bordcomputer,CD-Spiel..."
1,e52e54ee-db7f-4c06-9acc-5a83cb5b3803,Volkswagen,Golf,13.890 €,76.486 km,01/2015,"Benzin, E10-geeignet",Schaltgetriebe,92 kW (125 PS),1.395 cm³,Neu,13088.0,Schwarz Metallic,2.0,Limousine,5.0,4/5,Euro6,4 (Grün),2-Zonen-Klimaautomatik,"Stoff, Schwarz","ABS,Ambiente-Beleuchtung,Armlehne,Berganfahras..."
2,3f88ed87-b01e-4467-bbb9-6abb1f15db32,Mercedes-Benz,SLK 300,19.990 €,84.000 km,07/2009,Benzin,Automatik,170 kW (231 PS),2.997 cm³,08/2023,42285.0,Schwarz Metallic,3.0,Cabrio / Roadster,2.0,2/3,Euro5,4 (Grün),Klimaautomatik,"Vollleder, Schwarz","ABS,Armlehne,Berganfahrassistent,Bi-Xenon Sche..."
3,3e326228-97ae-4890-b3ba-a8a2ae6bd414,Mercedes-Benz,SLK 350,19.990 €,84.000 km,07/2009,Benzin,Automatik,170 kW (231 PS),2.997 cm³,08/2023,42285.0,Schwarz Metallic,3.0,Cabrio / Roadster,2.0,2/3,Euro5,4 (Grün),Klimaautomatik,"Vollleder, Schwarz","ABS,Armlehne,Berganfahrassistent,Bi-Xenon Sche..."
4,e4ab245f-e604-4a24-84ae-4ccdde25410a,Mercedes-Benz,A 220,17.450 €,109.252 km,12/2012,Diesel,Automatik,125 kW (170 PS),2.143 cm³,Neu,53879.0,Silber Metallic,2.0,Limousine,5.0,4/5,Euro6,4 (Grün),Klimaanlage,"Stoff, Schwarz","ABS,Abstandswarner,Armlehne,Berganfahrassisten..."

***

### 2) (L) Ändere den Spaltennamen `leistung` zu `kw_ps`

In [29]:
df.head(2)

,car_id,marke,modell,preis,kilometer,erstzulassung,kraftstoffart,getriebe,kw_ps,hubraum,hu,plz,farbe,anzahlderFahrzeughalter,kategorie,anzahlSitzplaetze,anzahlderTueren,schadstoffklasse,umweltplakette,klimatisierung,innenausstattung,ausstattung
0,2f3fc81f-8794-4182-89b6-844ba36cb764,Volkswagen,Golf,9.797 €,79.449 km,04/2011,Benzin,Schaltgetriebe,63 kW (86 PS),1.197 cm³,Neu,4720.0,Weiß,NaN,Limousine,5.0,4/5,Euro5,4 (Grün),Klimaautomatik,"Alcantara, Schwarz","ABS,Alarmanlage,Armlehne,Bordcomputer,CD-Spiel..."
1,e52e54ee-db7f-4c06-9acc-5a83cb5b3803,Volkswagen,Golf,13.890 €,76.486 km,01/2015,"Benzin, E10-geeignet",Schaltgetriebe,92 kW (125 PS),1.395 cm³,Neu,13088.0,Schwarz Metallic,2.0,Limousine,5.0,4/5,Euro6,4 (Grün),2-Zonen-Klimaautomatik,"Stoff, Schwarz","ABS,Ambiente-Beleuchtung,Armlehne,Berganfahras..."

***

### 3) (L) Erstelle dir zwei `DataFrames`. Das erste `DataFrame` mit dem Name `df1` besteht aus den ersten 100 Zeilen des ursprünglichen `DataFrames df`. Das zweite namens `df2` aus den Zeilen 100-200.

In [31]:
df1.shape

(100, 22)

In [33]:
df2.shape

(100, 22)

***

### 4) (M) Verbinde nun die beiden `DataFrames` `df1` und `df2` miteinander. Beim resultierenden `DataFrame` namens `df_conc` soll zuerst das `df2` erscheinend und anschleißend das `df1`. Der Index des resultierenden `DataFrames df_conc` soll bei 0 beginnen und bis zum Ende aufsteigend nummeriert sein.
#### Verwende nicht die `.append` Methode

In [35]:
df_conc

,car_id,marke,modell,preis,kilometer,erstzulassung,kraftstoffart,getriebe,kw_ps,hubraum,hu,plz,farbe,anzahlderFahrzeughalter,kategorie,anzahlSitzplaetze,anzahlderTueren,schadstoffklasse,umweltplakette,klimatisierung,innenausstattung,ausstattung
0,acf573ae-8bf7-48c2-9d1f-6d987afb95d2,Volkswagen,Beetle,9.890 €,119.699 km,06/2012,"Benzin, E10-geeignet",Schaltgetriebe,77 kW (105 PS),1.197 cm³,Neu,13088.0,Gelb,2.0,Limousine,4.0,2/3,Euro5,4 (Grün),Klimaanlage,Schwarz,"ABS,Ambiente-Beleuchtung,CD-Spieler,Elektr. Fe..."
1,3b8b35d8-2d37-47bf-b691-cd8715720bde,Mercedes-Benz,GLK 250,16.998 €,60.000 km,10/2011,Diesel,Automatik,150 kW (204 PS),2.143 cm³,10/2022,13089.0,Silber Metallic,1.0,SUV / Geländewagen / Pickup,5.0,4/5,Euro5,4 (Grün),2-Zonen-Klimaautomatik,"Stoff, Schwarz","ABS,Allradantrieb,Armlehne,Berganfahrassistent..."
2,94bbe4da-d5d3-4c32-8215-feaf5b85cd20,Mercedes-Benz,S 500,29.870 €,69.500 km,06/2010,Benzin,Automatik,320 kW (435 PS),4.663 cm³,Neu,41564.0,Grau Metallic,3.0,Limousine,5.0,4/5,Euro5,4 (Grün),4-Zonen-Klimaautomatik,"Vollleder, Grau","ABS,Abstandstempomat,Abstandswarner,Adaptives ..."
3,3df9e4db-298b-4e7e-b924-5f1a904144de,Volkswagen,Tiguan,24.390 €,114.112 km,05/2016,Diesel,Automatik,110 kW (150 PS),1.968 cm³,06/2023,25746.0,Schwarz,1.0,SUV / Geländewagen / Pickup,5.0,4/5,Euro6,4 (Grün),3-Zonen-Klimaautomatik,"Stoff, Schwarz","ABS,Abstandstempomat,Alarmanlage,Allradantrieb..."
4,7e85e2a6-2b77-41a5-a7cb-7f806e847233,Volkswagen,Golf,19.900 €,96.000 km,05/2011,Benzin,Schaltgetriebe,199 kW (271 PS),1.984 cm³,Neu,86807.0,Blau Metallic,2.0,Limousine,5.0,4/5,Euro5,4 (Grün),Klimaautomatik,"Vollleder, Schwarz","ABS,Alarmanlage,Allradantrieb,Armlehne,Berganf..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2c49e482-d66f-4e33-a51c-d372a2020072,Volkswagen,Golf,6.999 €,89.893 km,02/2008,Benzin,Automatik,75 kW (102 PS),1.595 cm³,11/2023,40880.0,Silber Metallic,2.0,Limousine,5.0,2/3,Euro4,4 (Grün),Klimaautomatik,"Stoff, Schwarz","ABS,Bordcomputer,CD-Spieler,Elektr. Fensterheb..."
196,7ce8e006-17bb-4be7-9f72-4e5312cb0a44,Mercedes-Benz,CLA 250,24.900 €,69.705 km,05/2015,Benzin,Automatik,155 kW (211 PS),1.991 cm³,Neu,24568.0,Weiß,2.0,Kombi,5.0,4/5,Euro6,4 (Grün),Klimaautomatik,"Vollleder, Braun","ABS,Abstandstempomat,Adaptives Kurvenlicht,All..."
197,27954d5c-1c70-408c-a1cf-7dffebda3bce,Volkswagen,T6 Multivan,72.990 €,10.146 km,09/2020,Diesel,Automatik,146 kW (199 PS),1.968 cm³,Neu,94146.0,Schwarz Metallic,NaN,Van / Minibus,7.0,4/5,Euro6d-TEMP,NaN,Klimaautomatik,"Vollleder, Schwarz","ABS,Abstandstempomat,Abstandswarner,Alarmanlag..."
198,93ddc1e4-aaa2-4a2c-9ac4-10959bb20af0,Volkswagen,Golf,17.750 €,73.200 km,02/2018,Benzin,Schaltgetriebe,110 kW (150 PS),1.498 cm³,Neu,91207.0,Grau,1.0,Kombi,5.0,4/5,Euro6c,4 (Grün),2-Zonen-Klimaautomatik,"Stoff, Schwarz","ABS,Abstandstempomat,Armlehne,Bluetooth,Bordco..."
199,ae870268-8246-4d2c-838e-cfd5429ff600,BMW,428,24.900 €,59.082 km,09/2013,"Benzin, E10-geeignet",Schaltgetriebe,180 kW (245 PS),1.997 cm³,Neu,12683.0,Schwarz Metallic,NaN,Sportwagen / Coupé,4.0,2/3,Euro6,4 (Grün),2-Zonen-Klimaautomatik,"Alcantara, Schwarz","ABS,Ambiente-Beleuchtung,Armlehne,Berganfahras..."

***

### 5) (M) In dieser Aufgabe bereiten wir den Datensatz für Aufgabe 6 vor. Die Vorbereitung beeinhaltet unterschiedlichstes Wissen von dem was du bereits gelernt hast

#### 1) Aufteilung der Daten in zwei `DataFrames`. Einmal `df_cars` welches `car_id`, `marke` und `modell` beinhaltet und einmal `df_car_details` welches `car_id`, `preis` und `kilometer` des `DataFrames` `df_conc` beinhaltet

                                   car_id          marke       modell
0    acf573ae-8bf7-48c2-9d1f-6d987afb95d2     Volkswagen       Beetle
1    3b8b35d8-2d37-47bf-b691-cd8715720bde  Mercedes-Benz      GLK 250
2    94bbe4da-d5d3-4c32-8215-feaf5b85cd20  Mercedes-Benz        S 500
3    3df9e4db-298b-4e7e-b924-5f1a904144de     Volkswagen       Tiguan
4    7e85e2a6-2b77-41a5-a7cb-7f806e847233     Volkswagen         Golf
..                                    ...            ...          ...
195  2c49e482-d66f-4e33-a51c-d372a2020072     Volkswagen         Golf
196  7ce8e006-17bb-4be7-9f72-4e5312cb0a44  Mercedes-Benz      CLA 250
197  27954d5c-1c70-408c-a1cf-7dffebda3bce     Volkswagen  T6 Multivan
198  93ddc1e4-aaa2-4a2c-9ac4-10959bb20af0     Volkswagen         Golf
199  ae870268-8246-4d2c-838e-cfd5429ff600            BMW          428

[200 rows x 3 columns]

                                   car_id     preis   kilometer
0    acf573ae-8bf7-48c2-9d1f-6d987afb95d2   9.890 €  119.699 km
1    3b8b35d8-2d37-47bf-b691-cd8715720bde  16.998 €   60.000 km
2    94bbe4da-d5d3-4c32-8215-feaf5b85cd20  29.870 €   69.500 km
3    3df9e4db-298b-4e7e-b924-5f1a904144de  24.390 €  114.112 km
4    7e85e2a6-2b77-41a5-a7cb-7f806e847233  19.900 €   96.000 km
..                                    ...       ...         ...
195  2c49e482-d66f-4e33-a51c-d372a2020072   6.999 €   89.893 km
196  7ce8e006-17bb-4be7-9f72-4e5312cb0a44  24.900 €   69.705 km
197  27954d5c-1c70-408c-a1cf-7dffebda3bce  72.990 €   10.146 km
198  93ddc1e4-aaa2-4a2c-9ac4-10959bb20af0  17.750 €   73.200 km
199  ae870268-8246-4d2c-838e-cfd5429ff600  24.900 €   59.082 km

[200 rows x 3 columns]

#### 2) Mische beide `DataFrames` mit der `.sample(frac=1)` Funktion

                                   car_id       marke          modell
163  de0de0b6-079a-41a4-8652-28d8a6220bf6  Volkswagen            Golf
111  adce4add-d46c-4245-846c-79dde44e3347  Volkswagen            Golf
17   c52e7542-bfe7-49a9-87c7-66aed0ee4874         NaN             NaN
193  c1db5261-9534-4a71-9a0e-0ebbe63dcb2f  Volkswagen  Passat Variant
180  1b4315f0-e177-4dac-98e7-b80739499554         BMW             528
..                                    ...         ...             ...
189  2bfcddef-8a49-4737-bfc8-c2e196305082  Volkswagen  Golf Sportsvan
87   4aa88553-66e5-483f-911a-633364c1f445  Volkswagen            Golf
22   d0f00545-96d9-4b1d-8214-43ccaaca167b  Volkswagen     T5 Multivan
118  76e2225b-3cda-4079-8a01-68af570c443d  Volkswagen            Golf
65   0f4e3989-ebaa-47a4-b729-8af37833ce95         BMW             316

[200 rows x 3 columns]

                                   car_id     preis   kilometer
66   f4583515-11fe-40f8-8f70-cec8b5c35a46  19.990 €   99.980 km
68   d40533a2-06c8-472b-a79e-2b8910a1aed8  15.490 €  103.403 km
21   f72f9d56-32a6-4e91-b56c-e701cc62755b  13.890 €  106.763 km
86   3a521476-86bf-4ff6-bc39-b121d6876fd5  22.999 €   86.598 km
42   66f2911c-29ac-4712-8ab1-c7aaa8d4b4d4  12.499 €   97.000 km
..                                    ...       ...         ...
94   5004b61e-bebb-4a9a-9e2b-09e129e770b4  18.300 €   51.900 km
58   b09aaf1a-3953-4fba-b95a-094e12d47b14  22.390 €   67.303 km
153  c228cc13-1366-4e16-9953-6b817f893f03  14.950 €   58.000 km
174  bf1ae6b6-e6b6-45ab-86de-f14ae1cf79e5  12.890 €  124.091 km
51   4ae1cc07-17e0-4710-9dc2-4a0da480ee8b  19.800 €  112.000 km

[200 rows x 3 columns]

#### 3) Kürze `df_car_details`, indem lediglich die ersten 73 Zeilen in dem `DataFrame` genommen werden

In [41]:
df_car_details.shape

(73, 3)

***

### 6) (S) Szenario: 
#### Aktuell benutzt unsere Marketingabteilung eine Datei namens `df_cars` welche lediglich Daten zum Auto beinhaltet wie Marke und Modell. Die Abteilung Einkauf benutzt eine andere Datei (`df_car_details`)um Preise unterschiedlicher Autos zu vergleichen, wobei hier lediglich die KM Anzahl eine Rolle spielt. Um genauere Analysen machen zu können, müssen wir die beiden `DataFrames` miteinander kombinieren. Die Gemeinsamkeit beider `DataFrames` ist die Spalte `car_id`. Diese beinhaltet immer einen genauen Identifizierungsschlüssel und symbolisiert in jedem der beiden `DataFrames` ein und das selbe Auto. Deine Aufgabe ist es einen Weg zu finden, die beiden `DataFrames` miteiander zu verbinden um ein großes `DataFrame` namens `df_joined` zu erhalten. Beachte, dass das `DataFrame` `df_car_details` beschädigt wurde und nicht mehr über alle Zeilen verfügt.

In [43]:
df_joined

,car_id,marke,modell,preis,kilometer
163,de0de0b6-079a-41a4-8652-28d8a6220bf6,Volkswagen,Golf,NaN,NaN
111,adce4add-d46c-4245-846c-79dde44e3347,Volkswagen,Golf,NaN,NaN
17,c52e7542-bfe7-49a9-87c7-66aed0ee4874,NaN,NaN,NaN,NaN
193,c1db5261-9534-4a71-9a0e-0ebbe63dcb2f,Volkswagen,Passat Variant,NaN,NaN
180,1b4315f0-e177-4dac-98e7-b80739499554,BMW,528,NaN,NaN
...,...,...,...,...,...
189,2bfcddef-8a49-4737-bfc8-c2e196305082,Volkswagen,Golf Sportsvan,NaN,NaN
87,4aa88553-66e5-483f-911a-633364c1f445,Volkswagen,Golf,17.999 €,99.987 km
22,d0f00545-96d9-4b1d-8214-43ccaaca167b,Volkswagen,T5 Multivan,NaN,NaN
118,76e2225b-3cda-4079-8a01-68af570c443d,Volkswagen,Golf,NaN,NaN
65,0f4e3989-ebaa-47a4-b729-8af37833ce95,BMW,316,15.750 €,95.825 km

### 7) (L) Sortier den Index aufsteigend und vergleiche das `DataFrame` `df_joined` mit dem erstellten `DataFrame` `df_conc`. Wähle beim `df_conc` lediglich die Spalten `car_id`, `marke`, `modell`, `preis` und `kilometer` aus.

,car_id,marke,modell,preis,kilometer
0,acf573ae-8bf7-48c2-9d1f-6d987afb95d2,Volkswagen,Beetle,NaN,NaN
1,3b8b35d8-2d37-47bf-b691-cd8715720bde,Mercedes-Benz,GLK 250,NaN,NaN
2,94bbe4da-d5d3-4c32-8215-feaf5b85cd20,Mercedes-Benz,S 500,29.870 €,69.500 km
3,3df9e4db-298b-4e7e-b924-5f1a904144de,Volkswagen,Tiguan,NaN,NaN
4,7e85e2a6-2b77-41a5-a7cb-7f806e847233,Volkswagen,Golf,NaN,NaN
...,...,...,...,...,...
195,2c49e482-d66f-4e33-a51c-d372a2020072,Volkswagen,Golf,6.999 €,89.893 km
196,7ce8e006-17bb-4be7-9f72-4e5312cb0a44,Mercedes-Benz,CLA 250,NaN,NaN
197,27954d5c-1c70-408c-a1cf-7dffebda3bce,Volkswagen,T6 Multivan,NaN,NaN
198,93ddc1e4-aaa2-4a2c-9ac4-10959bb20af0,Volkswagen,Golf,NaN,NaN
199,ae870268-8246-4d2c-838e-cfd5429ff600,BMW,428,24.900 €,59.082 km

,car_id,marke,modell,preis,kilometer
0,acf573ae-8bf7-48c2-9d1f-6d987afb95d2,Volkswagen,Beetle,9.890 €,119.699 km
1,3b8b35d8-2d37-47bf-b691-cd8715720bde,Mercedes-Benz,GLK 250,16.998 €,60.000 km
2,94bbe4da-d5d3-4c32-8215-feaf5b85cd20,Mercedes-Benz,S 500,29.870 €,69.500 km
3,3df9e4db-298b-4e7e-b924-5f1a904144de,Volkswagen,Tiguan,24.390 €,114.112 km
4,7e85e2a6-2b77-41a5-a7cb-7f806e847233,Volkswagen,Golf,19.900 €,96.000 km
...,...,...,...,...,...
195,2c49e482-d66f-4e33-a51c-d372a2020072,Volkswagen,Golf,6.999 €,89.893 km
196,7ce8e006-17bb-4be7-9f72-4e5312cb0a44,Mercedes-Benz,CLA 250,24.900 €,69.705 km
197,27954d5c-1c70-408c-a1cf-7dffebda3bce,Volkswagen,T6 Multivan,72.990 €,10.146 km
198,93ddc1e4-aaa2-4a2c-9ac4-10959bb20af0,Volkswagen,Golf,17.750 €,73.200 km
199,ae870268-8246-4d2c-838e-cfd5429ff600,BMW,428,24.900 €,59.082 km